<!-- 모든 template 파일에 공통으로 적용 되는 내용 -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />
    <!-- flyskys CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Hello, flyskys!</title>
  </head>
  <body>
    <!-- 네비게이션바 -->
    {% include "navbar.html" %}
    <!-- base 템플릿 안에 삽입될 내용 Start -->
    {% block content %} {% endblock %}
    <!-- base 템플릿 안에 삽입될 내용 End -->
    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- 자바스크립트 Start -->
    {% block script %} {% endblock %}
    <!-- 자바스크립트 End -->
  </body>
</html>
